/vendor
/.env
/.env.production
/.env.example
/.idea
/.vscode
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/hot
/public/storage
/node_modules
/npm-debug.log
/yarn-error.log
/.phpunit.result.cache
/tests/Feature/ExampleTest.php
/tests/Unit/ExampleTest.php
composer.lock
auth.json
